/SkyDream/.vs/SkyDream/v15/.suo
/SkyDream/.vs/SkyDream/v15/Browse.VC.db
/SkyDream/.vs/SkyDream/v15/Browse.VC.opendb
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/58cc964322ebcad9/WORLDSOCKET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/654412118f795446/COMMAND_LINE_INTERFACE.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9b440c6079cb592e/TEST.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/ba2f847f6db36586/FORMAT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/d8e241424d226356/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/fe496b53c6ef2420/SESSION.ipch
/SkyDream/.vs/SkyDream/v15/Solution.VC.db
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-shm
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-wal
/SkyDream/Network/x64/Debug/Network.idb
/SkyDream/Network/x64/Debug/Network.log
/SkyDream/Network/x64/Debug/Network.pdb
/SkyDream/Network/x64/Debug/Network.tlog/CL.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Network.lastbuildstate
/SkyDream/Network/x64/Debug/Session.obj
/SkyDream/Network/x64/Debug/WorldSocket.obj
/SkyDream/Proto/x64/Debug/Proto.idb
/SkyDream/Proto/x64/Debug/Proto.log
/SkyDream/Proto/x64/Debug/Proto.pdb
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Proto.lastbuildstate
/SkyDream/Proto/x64/Debug/test.pb.obj
/SkyDream/Protobuf/x64/Debug/atomicops_internals_x86_msvc.obj
/SkyDream/Protobuf/x64/Debug/code_generator.obj
/SkyDream/Protobuf/x64/Debug/coded_stream.obj
/SkyDream/Protobuf/x64/Debug/command_line_interface.obj
/SkyDream/Protobuf/x64/Debug/common.obj
/SkyDream/Protobuf/x64/Debug/descriptor.obj
/SkyDream/Protobuf/x64/Debug/descriptor.pb.obj
/SkyDream/Protobuf/x64/Debug/descriptor_database.obj
/SkyDream/Protobuf/x64/Debug/dynamic_message.obj
/SkyDream/Protobuf/x64/Debug/extension_set.obj
/SkyDream/Protobuf/x64/Debug/extension_set_heavy.obj
/SkyDream/Protobuf/x64/Debug/generated_message_reflection.obj
/SkyDream/Protobuf/x64/Debug/generated_message_util.obj
/SkyDream/Protobuf/x64/Debug/gzip_stream.obj
/SkyDream/Protobuf/x64/Debug/importer.obj
/SkyDream/Protobuf/x64/Debug/message.obj
/SkyDream/Protobuf/x64/Debug/message_lite.obj
/SkyDream/Protobuf/x64/Debug/once.obj
/SkyDream/Protobuf/x64/Debug/parser.obj
/SkyDream/Protobuf/x64/Debug/plugin.obj
/SkyDream/Protobuf/x64/Debug/plugin.pb.obj
/SkyDream/Protobuf/x64/Debug/printer.obj
/SkyDream/Protobuf/x64/Debug/Protobuf.idb
/SkyDream/Protobuf/x64/Debug/Protobuf.log
/SkyDream/Protobuf/x64/Debug/Protobuf.pdb
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Protobuf.lastbuildstate
/SkyDream/Protobuf/x64/Debug/reflection_ops.obj
/SkyDream/Protobuf/x64/Debug/repeated_field.obj
/SkyDream/Protobuf/x64/Debug/service.obj
/SkyDream/Protobuf/x64/Debug/stringprintf.obj
/SkyDream/Protobuf/x64/Debug/strtod.obj
/SkyDream/Protobuf/x64/Debug/structurally_valid.obj
/SkyDream/Protobuf/x64/Debug/strutil.obj
/SkyDream/Protobuf/x64/Debug/subprocess.obj
/SkyDream/Protobuf/x64/Debug/substitute.obj
/SkyDream/Protobuf/x64/Debug/text_format.obj
/SkyDream/Protobuf/x64/Debug/tokenizer.obj
/SkyDream/Protobuf/x64/Debug/unknown_field_set.obj
/SkyDream/Protobuf/x64/Debug/wire_format.obj
/SkyDream/Protobuf/x64/Debug/wire_format_lite.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl_lite.obj
/SkyDream/Protobuf/x64/Debug/zip_writer.obj
/SkyDream/Test/x64/Debug/Main.obj
/SkyDream/Test/x64/Debug/Test.log
/SkyDream/Test/x64/Debug/Test.tlog/CL.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/Test.lastbuildstate
/SkyDream/Test/x64/Debug/vc141.idb
/SkyDream/Test/x64/Debug/vc141.pdb
/SkyDream/x64/Debug/Network.lib
/SkyDream/x64/Debug/Network.pdb
/SkyDream/x64/Debug/Proto.lib
/SkyDream/x64/Debug/Proto.pdb
/SkyDream/x64/Debug/Protobuf.lib
/SkyDream/x64/Debug/Protobuf.pdb
/SkyDream/x64/Debug/Test.exe
/SkyDream/x64/Debug/Test.ilk
/SkyDream/x64/Debug/Test.pdb
