/SkyDream/.vs/SkyDream/v15/.suo
/SkyDream/.vs/SkyDream/v15/Browse.VC.db
/SkyDream/.vs/SkyDream/v15/Browse.VC.opendb
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/58cc964322ebcad9/WORLDSOCKET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/654412118f795446/COMMAND_LINE_INTERFACE.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9b440c6079cb592e/TEST.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/ba2f847f6db36586/FORMAT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/d8e241424d226356/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/fe496b53c6ef2420/SESSION.ipch
/SkyDream/.vs/SkyDream/v15/Solution.VC.db
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-shm
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-wal
/SkyDream/Network/x64/Debug/Network.idb
/SkyDream/Network/x64/Debug/Network.log
/SkyDream/Network/x64/Debug/Network.pdb
/SkyDream/Network/x64/Debug/Network.tlog/CL.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Network.lastbuildstate
/SkyDream/Network/x64/Debug/Session.obj
/SkyDream/Network/x64/Debug/WorldSocket.obj
/SkyDream/Proto/x64/Debug/Proto.idb
/SkyDream/Proto/x64/Debug/Proto.log
/SkyDream/Proto/x64/Debug/Proto.pdb
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Proto.lastbuildstate
/SkyDream/Proto/x64/Debug/test.pb.obj
/SkyDream/Protobuf/x64/Debug/atomicops_internals_x86_msvc.obj
/SkyDream/Protobuf/x64/Debug/code_generator.obj
/SkyDream/Protobuf/x64/Debug/coded_stream.obj
/SkyDream/Protobuf/x64/Debug/command_line_interface.obj
/SkyDream/Protobuf/x64/Debug/common.obj
/SkyDream/Protobuf/x64/Debug/descriptor.obj
/SkyDream/Protobuf/x64/Debug/descriptor.pb.obj
/SkyDream/Protobuf/x64/Debug/descriptor_database.obj
/SkyDream/Protobuf/x64/Debug/dynamic_message.obj
/SkyDream/Protobuf/x64/Debug/extension_set.obj
/SkyDream/Protobuf/x64/Debug/extension_set_heavy.obj
/SkyDream/Protobuf/x64/Debug/generated_message_reflection.obj
/SkyDream/Protobuf/x64/Debug/generated_message_util.obj
/SkyDream/Protobuf/x64/Debug/gzip_stream.obj
/SkyDream/Protobuf/x64/Debug/importer.obj
/SkyDream/Protobuf/x64/Debug/message.obj
/SkyDream/Protobuf/x64/Debug/message_lite.obj
/SkyDream/Protobuf/x64/Debug/once.obj
/SkyDream/Protobuf/x64/Debug/parser.obj
/SkyDream/Protobuf/x64/Debug/plugin.obj
/SkyDream/Protobuf/x64/Debug/plugin.pb.obj
/SkyDream/Protobuf/x64/Debug/printer.obj
/SkyDream/Protobuf/x64/Debug/Protobuf.idb
/SkyDream/Protobuf/x64/Debug/Protobuf.log
/SkyDream/Protobuf/x64/Debug/Protobuf.pdb
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Protobuf.lastbuildstate
/SkyDream/Protobuf/x64/Debug/reflection_ops.obj
/SkyDream/Protobuf/x64/Debug/repeated_field.obj
/SkyDream/Protobuf/x64/Debug/service.obj
/SkyDream/Protobuf/x64/Debug/stringprintf.obj
/SkyDream/Protobuf/x64/Debug/strtod.obj
/SkyDream/Protobuf/x64/Debug/structurally_valid.obj
/SkyDream/Protobuf/x64/Debug/strutil.obj
/SkyDream/Protobuf/x64/Debug/subprocess.obj
/SkyDream/Protobuf/x64/Debug/substitute.obj
/SkyDream/Protobuf/x64/Debug/text_format.obj
/SkyDream/Protobuf/x64/Debug/tokenizer.obj
/SkyDream/Protobuf/x64/Debug/unknown_field_set.obj
/SkyDream/Protobuf/x64/Debug/wire_format.obj
/SkyDream/Protobuf/x64/Debug/wire_format_lite.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl_lite.obj
/SkyDream/Protobuf/x64/Debug/zip_writer.obj
/SkyDream/Test/x64/Debug/Main.obj
/SkyDream/Test/x64/Debug/Test.log
/SkyDream/Test/x64/Debug/Test.tlog/CL.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/Test.lastbuildstate
/SkyDream/Test/x64/Debug/vc141.idb
/SkyDream/Test/x64/Debug/vc141.pdb
/SkyDream/x64/Debug/Network.lib
/SkyDream/x64/Debug/Network.pdb
/SkyDream/x64/Debug/Proto.lib
/SkyDream/x64/Debug/Proto.pdb
/SkyDream/x64/Debug/Protobuf.lib
/SkyDream/x64/Debug/Protobuf.pdb
/SkyDream/x64/Debug/Test.exe
/SkyDream/x64/Debug/Test.ilk
/SkyDream/x64/Debug/Test.pdb
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/1c20986252f0b6be/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/7c0754e205830bf7/UDPSOCKETSERVER.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/8050840a59c8c43a/UDPSOCKET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9dae07d2f886de10/PUNCH.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/bcc33c265c203aaf/CLIENT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/d3d176dab845796b/UDPSOCKETCLIENT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/daaca34df404e8c1/EXTENSION_SET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/e2eda8f0b6f57c38/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/fade6268eb58e5d9/WORLDSOCKETMGR.ipch
/SkyDream/client1/x64/Debug/Client1.log
/SkyDream/client1/x64/Debug/Client1.tlog/CL.command.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/CL.read.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/CL.write.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/Client1.lastbuildstate
/SkyDream/client1/x64/Debug/Client1.tlog/link.command.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/link.read.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/link.write.1.tlog
/SkyDream/client1/x64/Debug/Main.obj
/SkyDream/client1/x64/Debug/vc141.idb
/SkyDream/client1/x64/Debug/vc141.pdb
/SkyDream/Network/x64/Debug/Client.obj
/SkyDream/Network/x64/Debug/UdpSocket.obj
/SkyDream/Network/x64/Debug/UdpSocketClient.obj
/SkyDream/Network/x64/Debug/UdpSocketServer.obj
/SkyDream/Network/x64/Debug/WorldSocketMgr.obj
/SkyDream/P2P/x64/Debug/P2P.idb
/SkyDream/P2P/x64/Debug/P2P.log
/SkyDream/P2P/x64/Debug/p2p.obj
/SkyDream/P2P/x64/Debug/P2P.pdb
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.command.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.read.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.write.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib.command.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib-link.read.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib-link.write.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/P2P.lastbuildstate
/SkyDream/Proto/x64/Debug/punch.pb.obj
/SkyDream/SkyDream/x64/Debug/Main.obj
/SkyDream/SkyDream/x64/Debug/SkyDream.log
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.command.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.read.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.write.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.command.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.read.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.write.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/SkyDream.lastbuildstate
/SkyDream/SkyDream/x64/Debug/vc141.idb
/SkyDream/SkyDream/x64/Debug/vc141.pdb
/SkyDream/x64/Debug - 副本/Client1.exe
/SkyDream/x64/Debug - 副本/Client1.ilk
/SkyDream/x64/Debug - 副本/Client1.pdb
/SkyDream/x64/Debug - 副本/Network.lib
/SkyDream/x64/Debug - 副本/Network.pdb
/SkyDream/x64/Debug - 副本/P2P.lib
/SkyDream/x64/Debug - 副本/P2P.pdb
/SkyDream/x64/Debug - 副本/Proto.lib
/SkyDream/x64/Debug - 副本/Proto.pdb
/SkyDream/x64/Debug - 副本/Protobuf.lib
/SkyDream/x64/Debug - 副本/Protobuf.pdb
/SkyDream/x64/Debug - 副本/SkyDream.exe
/SkyDream/x64/Debug - 副本/SkyDream.ilk
/SkyDream/x64/Debug - 副本/SkyDream.pdb
/SkyDream/x64/Debug - 副本/Test.exe
/SkyDream/x64/Debug - 副本/Test.ilk
/SkyDream/x64/Debug - 副本/Test.pdb
/SkyDream/x64/Debug/Client1.exe
/SkyDream/x64/Debug/Client1.ilk
/SkyDream/x64/Debug/Client1.pdb
/SkyDream/x64/Debug/P2P.lib
/SkyDream/x64/Debug/P2P.pdb
/SkyDream/x64/Debug/SkyDream.exe
/SkyDream/x64/Debug/SkyDream.ilk
/SkyDream/x64/Debug/SkyDream.pdb
/SkyDream/x64/server/Client1.exe
/SkyDream/x64/server/Client1.ilk
/SkyDream/x64/server/Client1.pdb
/SkyDream/x64/server/Network.lib
/SkyDream/x64/server/Network.pdb
/SkyDream/x64/server/P2P.lib
/SkyDream/x64/server/P2P.pdb
/SkyDream/x64/server/Proto.lib
/SkyDream/x64/server/Proto.pdb
/SkyDream/x64/server/Protobuf.lib
/SkyDream/x64/server/Protobuf.pdb
/SkyDream/x64/server/SkyDream.exe
/SkyDream/x64/server/SkyDream.ilk
/SkyDream/x64/server/SkyDream.pdb
/SkyDream/x64/server/Test.exe
/SkyDream/x64/server/Test.ilk
/SkyDream/x64/server/Test.pdb
