/SkyDream/.vs/SkyDream/v15/.suo
/SkyDream/.vs/SkyDream/v15/Browse.VC.db
/SkyDream/.vs/SkyDream/v15/Browse.VC.opendb
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/58cc964322ebcad9/WORLDSOCKET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/654412118f795446/COMMAND_LINE_INTERFACE.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9b440c6079cb592e/TEST.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/ba2f847f6db36586/FORMAT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/d8e241424d226356/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/fe496b53c6ef2420/SESSION.ipch
/SkyDream/.vs/SkyDream/v15/Solution.VC.db
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-shm
/SkyDream/.vs/SkyDream/v15/Solution.VC.db-wal
/SkyDream/Network/x64/Debug/Network.idb
/SkyDream/Network/x64/Debug/Network.log
/SkyDream/Network/x64/Debug/Network.pdb
/SkyDream/Network/x64/Debug/Network.tlog/CL.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/CL.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib.command.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.read.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Lib-link.write.1.tlog
/SkyDream/Network/x64/Debug/Network.tlog/Network.lastbuildstate
/SkyDream/Network/x64/Debug/Session.obj
/SkyDream/Network/x64/Debug/WorldSocket.obj
/SkyDream/Proto/x64/Debug/Proto.idb
/SkyDream/Proto/x64/Debug/Proto.log
/SkyDream/Proto/x64/Debug/Proto.pdb
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/CL.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib.command.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.read.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Lib-link.write.1.tlog
/SkyDream/Proto/x64/Debug/Proto.tlog/Proto.lastbuildstate
/SkyDream/Proto/x64/Debug/test.pb.obj
/SkyDream/Protobuf/x64/Debug/atomicops_internals_x86_msvc.obj
/SkyDream/Protobuf/x64/Debug/code_generator.obj
/SkyDream/Protobuf/x64/Debug/coded_stream.obj
/SkyDream/Protobuf/x64/Debug/command_line_interface.obj
/SkyDream/Protobuf/x64/Debug/common.obj
/SkyDream/Protobuf/x64/Debug/descriptor.obj
/SkyDream/Protobuf/x64/Debug/descriptor.pb.obj
/SkyDream/Protobuf/x64/Debug/descriptor_database.obj
/SkyDream/Protobuf/x64/Debug/dynamic_message.obj
/SkyDream/Protobuf/x64/Debug/extension_set.obj
/SkyDream/Protobuf/x64/Debug/extension_set_heavy.obj
/SkyDream/Protobuf/x64/Debug/generated_message_reflection.obj
/SkyDream/Protobuf/x64/Debug/generated_message_util.obj
/SkyDream/Protobuf/x64/Debug/gzip_stream.obj
/SkyDream/Protobuf/x64/Debug/importer.obj
/SkyDream/Protobuf/x64/Debug/message.obj
/SkyDream/Protobuf/x64/Debug/message_lite.obj
/SkyDream/Protobuf/x64/Debug/once.obj
/SkyDream/Protobuf/x64/Debug/parser.obj
/SkyDream/Protobuf/x64/Debug/plugin.obj
/SkyDream/Protobuf/x64/Debug/plugin.pb.obj
/SkyDream/Protobuf/x64/Debug/printer.obj
/SkyDream/Protobuf/x64/Debug/Protobuf.idb
/SkyDream/Protobuf/x64/Debug/Protobuf.log
/SkyDream/Protobuf/x64/Debug/Protobuf.pdb
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/CL.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib.command.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.read.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Lib-link.write.1.tlog
/SkyDream/Protobuf/x64/Debug/Protobuf.tlog/Protobuf.lastbuildstate
/SkyDream/Protobuf/x64/Debug/reflection_ops.obj
/SkyDream/Protobuf/x64/Debug/repeated_field.obj
/SkyDream/Protobuf/x64/Debug/service.obj
/SkyDream/Protobuf/x64/Debug/stringprintf.obj
/SkyDream/Protobuf/x64/Debug/strtod.obj
/SkyDream/Protobuf/x64/Debug/structurally_valid.obj
/SkyDream/Protobuf/x64/Debug/strutil.obj
/SkyDream/Protobuf/x64/Debug/subprocess.obj
/SkyDream/Protobuf/x64/Debug/substitute.obj
/SkyDream/Protobuf/x64/Debug/text_format.obj
/SkyDream/Protobuf/x64/Debug/tokenizer.obj
/SkyDream/Protobuf/x64/Debug/unknown_field_set.obj
/SkyDream/Protobuf/x64/Debug/wire_format.obj
/SkyDream/Protobuf/x64/Debug/wire_format_lite.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl.obj
/SkyDream/Protobuf/x64/Debug/zero_copy_stream_impl_lite.obj
/SkyDream/Protobuf/x64/Debug/zip_writer.obj
/SkyDream/Test/x64/Debug/Main.obj
/SkyDream/Test/x64/Debug/Test.log
/SkyDream/Test/x64/Debug/Test.tlog/CL.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/CL.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.command.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.read.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/link.write.1.tlog
/SkyDream/Test/x64/Debug/Test.tlog/Test.lastbuildstate
/SkyDream/Test/x64/Debug/vc141.idb
/SkyDream/Test/x64/Debug/vc141.pdb
/SkyDream/x64/Debug/Network.lib
/SkyDream/x64/Debug/Network.pdb
/SkyDream/x64/Debug/Proto.lib
/SkyDream/x64/Debug/Proto.pdb
/SkyDream/x64/Debug/Protobuf.lib
/SkyDream/x64/Debug/Protobuf.pdb
/SkyDream/x64/Debug/Test.exe
/SkyDream/x64/Debug/Test.ilk
/SkyDream/x64/Debug/Test.pdb
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/2a5b045fbb5cc120/PUNCH.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/365de0a5e953820a/WORLDSOCKETMGR.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/51a8a5e7eb0c975c/DELETE_SCALAR_SIZE.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/5dcf47851fbb8efe/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/6480d421c37ed586/DELETE_SCALAR.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/64c62b3fa21f14e9/WORLDSOCKET.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/858f0db4d425421e/TEST.PB.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9be4fed8ea56ca06/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/9e6bf72b182476b/MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/a87e16093e76b938/CLIENT2MAIN.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/aa2d31c1acf2649f/CLIENT.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/c1e1a915d2960e1/P2P.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/d2fa156190fbfa89/WORLDSOCKETMGR.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/dec326da35c99495/PARSER.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/e53a1b59c83efe93/FRAME.ipch
/SkyDream/.vs/SkyDream/v15/ipch/AutoPCH/fa63ef639a2b27c8/MAIN.ipch
/SkyDream/client1/x64/Debug/Client1.Build.CppClean.log
/SkyDream/client1/x64/Debug/Client1.log
/SkyDream/client1/x64/Debug/Client1.tlog/CL.command.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/CL.read.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/CL.write.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/Client1.lastbuildstate
/SkyDream/client1/x64/Debug/Client1.tlog/link.command.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/link.read.1.tlog
/SkyDream/client1/x64/Debug/Client1.tlog/link.write.1.tlog
/SkyDream/client1/x64/Debug/Main.obj
/SkyDream/client1/x64/Debug/Test.Build.CppClean.log
/SkyDream/client1/x64/Debug/Test.log
/SkyDream/client1/x64/Debug/Test.tlog/CL.command.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/CL.read.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/CL.write.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/link.command.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/link.read.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/link.write.1.tlog
/SkyDream/client1/x64/Debug/Test.tlog/Test.lastbuildstate
/SkyDream/client1/x64/Debug/vc141.idb
/SkyDream/client1/x64/Debug/vc141.pdb
/SkyDream/Network/x64/Debug/Client.obj
/SkyDream/Network/x64/Debug/Network.Build.CppClean.log
/SkyDream/Network/x64/Debug/UdpSocketClient.obj
/SkyDream/Network/x64/Debug/UdpSocketServer.obj
/SkyDream/Network/x64/Debug/WorldSocketMgr.obj
/SkyDream/P2P/x64/Debug/P2P.Build.CppClean.log
/SkyDream/P2P/x64/Debug/P2P.idb
/SkyDream/P2P/x64/Debug/P2P.log
/SkyDream/P2P/x64/Debug/p2p.obj
/SkyDream/P2P/x64/Debug/P2P.pdb
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.command.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.read.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/CL.write.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib.command.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib-link.read.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/Lib-link.write.1.tlog
/SkyDream/P2P/x64/Debug/P2P.tlog/P2P.lastbuildstate
/SkyDream/Proto/x64/Debug/Proto.Build.CppClean.log
/SkyDream/Proto/x64/Debug/punch.pb.obj
/SkyDream/Protobuf/x64/Debug/Protobuf.Build.CppClean.log
/SkyDream/SkyDream/x64/Debug/Main.obj
/SkyDream/SkyDream/x64/Debug/SkyDream.Build.CppClean.log
/SkyDream/SkyDream/x64/Debug/SkyDream.log
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.command.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.read.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/CL.write.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.command.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.read.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/link.write.1.tlog
/SkyDream/SkyDream/x64/Debug/SkyDream.tlog/SkyDream.lastbuildstate
/SkyDream/SkyDream/x64/Debug/vc141.idb
/SkyDream/SkyDream/x64/Debug/vc141.pdb
/SkyDream/Test/x64/Debug/Test.Build.CppClean.log
/SkyDream/x64/Debug/.vs/Test1/v15/.suo
/SkyDream/x64/Debug/Client1.exe
/SkyDream/x64/Debug/Client1.ilk
/SkyDream/x64/Debug/Client1.pdb
/SkyDream/x64/Debug/P2P.lib
/SkyDream/x64/Debug/P2P.pdb
/SkyDream/x64/Debug/SkyDream.exe
/SkyDream/x64/Debug/SkyDream.ilk
/SkyDream/x64/Debug/SkyDream.pdb
